@font-face {
  font-family: "dana";
  src: url("../fonts/dana/dana-thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src: url("../fonts/dana/dana-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src: url("../fonts/dana/dana-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src: url("../fonts/dana/dana-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src: url("../fonts/dana/dana-demibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src: url("../fonts/dana/dana-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src: url("../fonts/dana/dana-ultrabold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
