:root {
  /* Librava Green Palette */
  --frosted-mint: #d8f3dc;
  --celadon: #b7e4c7;
  --celadon-2: #95d5b2;
  --mint-leaf: #74c69d;
  --mint-leaf-2: #52b788;
  --sea-green: #40916c;
  --dark-emerald: #2d6a4f;
  --pine-teal: #1b4332;
  --evergreen: #081c15;

  /* Common */
  --color-bg: var(--frosted-mint);
  --color-primary: var(--mint-leaf-2);
  --color-primary-dark: var(--dark-emerald);
  --color-text: var(--evergreen);
}
