name: Sync Labels

on:
  push:
    paths:
      - "labels.yml"
  workflow_dispatch:

permissions:
  issues: write
  contents: write

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: GitHub Labeler
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: labels.yml
          skip-delete: false
