name: Sync Labels

on:
  push:
    paths:
      - "labels.yml"
  workflow_dispatch:

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: GitHub Labeler
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          yaml_file: labels.yml
          skip_delete: false
