name: Sync Labels

on:
  push:
    paths:
      - labels.yml
  workflow_dispatch:

permissions:
  contents: write
  issues: write

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Apply Labels
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          yaml-file: /.github/labels.yml
          github-token: ${{ secrets.GITHUB_TOKEN }}
          skip-delete: false
